.c-card--noticeboard {
  span.label {
    font-weight: 600;
  }

  .noticeboard-notice-content {
    font-size: var(--font-size-label);
  }
}

.noticeboard--display-news,
.post-type-archive-noticeboard_notice {
  .noticeboard__notices {
    .c-newsitem + .c-newsitem {
      margin-top: calc(var(--base, 8px) * 4);
    }
  }

  .noticeboard__meta {
    display: block;
    margin-top: calc(var(--base, 8px) * 1);
    span.label {
      font-weight: bold;
    }
  }

  .c-tags {
    --tag-background: var(--c-button-primary-color, var(--color-primary, #000));
    --tag-border-radius: var(--radius-sm, 0);
    --tag-color: var(
      --c-button-primary-color-contrasting,
      var(--color-default, #fff)
    );

    &__tag {
      background: var(--tag-background);
      border-radius: var(--tag-border-radius);
      color: var(--tag-color);
      display: inline-block;
      font-weight: bold;
      padding: 0.25rem 0.5rem;

      &:hover {
        color: var(--tag-color);
      }
    }
  }
}
